USE [master]
GO
/****** Object:  Database [DAutomate]    Script Date: 3/11/2022 7:32:59 PM ******/
CREATE DATABASE [DAutomate]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DAutomate', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\DAutomate.mdf' , SIZE = 489472KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DAutomate_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\DAutomate_log.ldf' , SIZE = 3226624KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DAutomate].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DAutomate]
GO
/****** Object:  Table [dbo].[AutomateEntity]    Script Date: 3/11/2022 7:32:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AutomateEntity](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DateRun] [date] NULL,
	[Entity] [varchar](50) NULL,
	[RunFlag] [int] NULL,
	[EntityCount] [int] NULL,
 CONSTRAINT [PK_AutomateEntity] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChequeBook]    Script Date: 3/11/2022 7:32:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChequeBook](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ChqOrderDate] [date] NULL,
	[AccountNumber] [varchar](50) NULL,
	[AccountName] [varchar](200) NULL,
	[AccountClass] [varchar](50) NULL,
	[ChequeType] [varchar](50) NULL,
	[Notes] [varchar](50) NULL,
	[Leaves] [int] NULL,
	[ChequeNumber] [varchar](50) NULL,
	[ReferenceID] [varchar](60) NULL,
	[ReferenceNo] [varchar](50) NULL,
	[BranchCode] [int] NULL,
	[TelephoneNumber] [varchar](60) NULL,
	[DateUpload] [date] NULL,
 CONSTRAINT [PK_ChequeBook] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ConfigParams]    Script Date: 3/11/2022 7:32:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConfigParams](
	[ConfigKey] [char](30) NOT NULL,
	[ConfigValue] [varchar](200) NULL,
 CONSTRAINT [PK_ConfigParams] PRIMARY KEY CLUSTERED 
(
	[ConfigKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Quick]    Script Date: 3/11/2022 7:32:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Quick](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BranchCode] [varchar](50) NULL,
	[CIF] [varchar](50) NULL,
	[Acct] [varchar](50) NULL,
	[KYCStatus] [varchar](50) NULL,
	[Fullname] [varchar](300) NULL,
	[Telephone] [varchar](100) NULL,
	[MonthsLastDeposit] [int] NULL,
	[AgeClient] [int] NULL,
	[AgeAcc] [int] NULL,
	[AvgDepositIn3Months] [numeric](18, 2) NULL,
	[AvgWithdrawalIn3Months] [numeric](18, 2) NULL,
	[LoanAmt] [numeric](18, 2) NULL,
	[Cycle] [int] NULL,
	[AvgDaysIn12Months] [int] NULL,
	[BlackList] [varchar](500) NULL,
	[AvgNumDepositIn3Months] [numeric](18, 2) NULL,
	[AvgNumWithdrawnIn3Months] [numeric](18, 2) NULL,
	[Gender] [varchar](50) NULL,
	[TotalNumDep] [int] NULL,
	[TotalNumWithdraw] [int] NULL,
	[IsStaff] [int] NULL,
	[DPD] [varchar](100) NULL,
	[IsLoanClient] [int] NULL,
	[DateUploaded] [date] NULL,
 CONSTRAINT [PK_Quick] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AutomateEntity] ON 

INSERT [dbo].[AutomateEntity] ([Id], [DateRun], [Entity], [RunFlag], [EntityCount]) VALUES (1, CAST(N'2022-02-16' AS Date), N'ChequeBook_Data', 1, 143)
INSERT [dbo].[AutomateEntity] ([Id], [DateRun], [Entity], [RunFlag], [EntityCount]) VALUES (2, CAST(N'2022-02-17' AS Date), N'Quick_Raw_Data', 1, 5000)
INSERT [dbo].[AutomateEntity] ([Id], [DateRun], [Entity], [RunFlag], [EntityCount]) VALUES (3, CAST(N'2022-02-17' AS Date), N'ChequeBook_Data', 1, 154)
SET IDENTITY_INSERT [dbo].[AutomateEntity] OFF
GO
SET IDENTITY_INSERT [dbo].[ChequeBook] ON 

INSERT [dbo].[ChequeBook] ([Id], [ChqOrderDate], [AccountNumber], [AccountName], [AccountClass], [ChequeType], [Notes], [Leaves], [ChequeNumber], [ReferenceID], [ReferenceNo], [BranchCode], [TelephoneNumber], [DateUpload]) VALUES (1, CAST(N'2022-02-01' AS Date), N'8100000164723', N'EMMANUEL ASIAMAH', N'PGHBSA', N'SAV', N'1 BOOKLET', 25, N'987062', N'SAV.8100000164723.987062', N'115CBCH220320503', 115, N'/0243961913,0243961913//', CAST(N'2022-02-21' AS Date))
INSERT [dbo].[ChequeBook] ([Id], [ChqOrderDate], [AccountNumber], [AccountName], [AccountClass], [ChequeType], [Notes], [Leaves], [ChequeNumber], [ReferenceID], [ReferenceNo], [BranchCode], [TelephoneNumber], [DateUpload]) VALUES (2, CAST(N'2022-02-01' AS Date), N'8100000092160', N'MAXWELL ATO', N'PGHBSA', N'SAV', N'1 BOOKLET', 25, N'082951', N'SAV.8100000092160.082951', N'115CBCH220320001', 115, N'/0245304343//', CAST(N'2022-02-21' AS Date))
INSERT [dbo].[ChequeBook] ([Id], [ChqOrderDate], [AccountNumber], [AccountName], [AccountClass], [ChequeType], [Notes], [Leaves], [ChequeNumber], [ReferenceID], [ReferenceNo], [BranchCode], [TelephoneNumber], [DateUpload]) VALUES (3, CAST(N'2022-02-01' AS Date), N'8100000271664', N'SEKYERE-NYAMEKYE ELIZABETH', N'PGHBSA', N'SAV', N'1 BOOKLET', 25, N'000001', N'SAV.8100000271664.000001', N'114CBCH220320001', 114, N'0244179688///', CAST(N'2022-02-21' AS Date))
GO
SET IDENTITY_INSERT [dbo].[ChequeBook] OFF
GO
INSERT [dbo].[ConfigParams] ([ConfigKey], [ConfigValue]) VALUES (N'ChequeBookFilePath            ', N'\\10.150.0.8\IT_Softwares\')
INSERT [dbo].[ConfigParams] ([ConfigKey], [ConfigValue]) VALUES (N'ChequeBookQueryable           ', N'C:\Users\aonana\Documents\chequebook_query.txt')
INSERT [dbo].[ConfigParams] ([ConfigKey], [ConfigValue]) VALUES (N'QuickQueryable                ', N'C:\Users\aonana\Documents\quick_query.txt')
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'date of last execution' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'AutomateEntity', @level2type=N'COLUMN',@level2name=N'DateRun'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'the entity or subject on which execution took place' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'AutomateEntity', @level2type=N'COLUMN',@level2name=N'Entity'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'flag determining if execution has finished' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'AutomateEntity', @level2type=N'COLUMN',@level2name=N'RunFlag'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'the count during the execution' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'AutomateEntity', @level2type=N'COLUMN',@level2name=N'EntityCount'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'date on which data was uploaded' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Quick', @level2type=N'COLUMN',@level2name=N'DateUploaded'
GO
USE [master]
GO
