USE [master]
GO
/****** Object:  Database [PANTrainer]    Script Date: 3/15/2022 6:15:11 PM ******/
CREATE DATABASE [PANTrainer]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PANTrainer', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\PANTrainer.mdf' , SIZE = 30720KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PANTrainer_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\PANTrainer_log.ldf' , SIZE = 15360KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PANTrainer].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PANTrainer]
GO
/****** Object:  Table [dbo].[AssessmentQuestionPool]    Script Date: 3/15/2022 6:15:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AssessmentQuestionPool](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Question] [varchar](1000) NULL,
	[QuestionType] [int] NULL,
	[SubjectID] [int] NULL,
	[CreatedDate] [date] NULL,
	[CreatedBy] [varchar](50) NULL,
	[AuthorizedDate] [date] NULL,
	[AuthorizedBy] [varchar](50) NULL,
 CONSTRAINT [PK_AssessmentQuestions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AssessmentSubject]    Script Date: 3/15/2022 6:15:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AssessmentSubject](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SubjectName] [varchar](100) NULL,
 CONSTRAINT [PK_AssessmentSubject] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AssignedTraining]    Script Date: 3/15/2022 6:15:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AssignedTraining](
	[AssignedTrainingID] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeID] [int] NULL,
	[FirstName] [varchar](100) NULL,
	[LastName] [varchar](50) NULL,
	[EmailAddress] [varchar](100) NULL,
	[TrainingID] [int] NULL,
	[AssignedBy] [varchar](50) NULL,
	[AssignedDate] [varchar](50) NULL,
	[ApprovedBy] [varchar](50) NULL,
	[ApprovedDate] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CertificationAwarder]    Script Date: 3/15/2022 6:15:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CertificationAwarder](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[awarder] [varchar](200) NULL,
 CONSTRAINT [PK_CertificationAwarder] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ObjectiveClass]    Script Date: 3/15/2022 6:15:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ObjectiveClass](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[QuestionID] [int] NULL,
	[Cobj1] [text] NULL,
	[Cobj2] [text] NULL,
	[Cobj3] [text] NULL,
	[Cobj4] [text] NULL,
 CONSTRAINT [PK_ObjectiveClass] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QAlloted]    Script Date: 3/15/2022 6:15:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QAlloted](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TrainingID] [int] NULL,
	[TrainingAssessmentID] [int] NULL,
	[QuestionTypeID] [int] NULL,
	[Alloted] [int] NULL,
 CONSTRAINT [PK_QAlloted] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuestionType]    Script Date: 3/15/2022 6:15:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuestionType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[QuestionType] [varchar](50) NULL,
 CONSTRAINT [PK_QuestionTypeLookup] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StaffQuestionAssessment]    Script Date: 3/15/2022 6:15:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StaffQuestionAssessment](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[QuestionID] [int] NULL,
	[MarksAwarded] [int] NULL,
	[TrainingID] [int] NULL,
	[StaffID] [int] NULL,
 CONSTRAINT [PK_StaffQuestionAssessment] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Training]    Script Date: 3/15/2022 6:15:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Training](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TrainingName] [varchar](50) NULL,
	[DateFrom] [date] NULL,
	[DateTo] [date] NULL,
	[TrainingType] [int] NULL,
	[TrainingStatusID] [int] NULL,
	[TrainingGroupID] [int] NULL,
	[TrainingCertificationID] [int] NULL,
	[MarkToPass] [int] NULL,
	[CreatedDate] [date] NULL,
	[CreatedBy] [varchar](50) NULL,
	[AuthorizedDate] [date] NULL,
	[AuthorizedBy] [varchar](50) NULL,
	[LastUpdatedDate] [date] NULL,
	[LastUpdatedBy] [varchar](50) NULL,
 CONSTRAINT [PK_Training] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TrainingAssessment]    Script Date: 3/15/2022 6:15:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrainingAssessment](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TrainingID] [int] NULL,
	[AssessmentName] [varchar](100) NULL,
	[AllotedAssessmentMarks] [int] NULL,
	[PassAssessmentMark] [nchar](10) NULL,
	[AllotedProratedMark] [numeric](9, 2) NULL,
	[CreatedDate] [date] NULL,
	[CreatedByID] [int] NULL,
	[AuthorizedDate] [date] NULL,
	[AuthorizedByID] [int] NULL,
	[LastUpdatedByID] [int] NULL,
	[LastUpdatedDate] [date] NULL,
 CONSTRAINT [PK_tAssessment1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TrainingCertification]    Script Date: 3/15/2022 6:15:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrainingCertification](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CertificationName] [varchar](100) NULL,
	[CertificationAwardedID] [int] NULL,
	[CertifiedYear] [int] NULL,
	[CreatedDate] [date] NULL,
	[CreatedBy] [varchar](50) NULL,
 CONSTRAINT [PK_TrainingCertificationLookup] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TrainingDomain]    Script Date: 3/15/2022 6:15:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrainingDomain](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DomainName] [varchar](50) NULL,
	[DomainDescription] [varchar](200) NULL,
 CONSTRAINT [PK_TrainingDomain] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TrainingGrouping]    Script Date: 3/15/2022 6:15:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrainingGrouping](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[GroupName] [varchar](50) NULL,
	[GroupDescription] [varchar](200) NULL,
	[DomainID] [int] NULL,
	[CreatedDate] [date] NULL,
	[CreatedByID] [int] NULL,
	[AuthorizedDate] [date] NULL,
	[AuthorizedByID] [int] NULL,
	[LastUpdatedByID] [int] NULL,
	[LastUpdatedDate] [date] NULL,
 CONSTRAINT [PK_Grouping] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TrainingResource]    Script Date: 3/15/2022 6:15:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrainingResource](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TrainingID] [int] NULL,
	[ResourceName] [varchar](100) NULL,
	[TrainingResourceID] [int] NULL,
	[IsEmbedded] [int] NULL,
	[ResourcePath] [varchar](100) NULL,
	[EmbeddedResource] [varbinary](max) NULL,
	[CreatedDate] [date] NULL,
	[CreatedBy] [varchar](50) NULL,
	[AuthorizedDate] [date] NULL,
	[AuthorizedBy] [varchar](50) NULL,
 CONSTRAINT [PK_TrainingResource] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TrainingResourceType]    Script Date: 3/15/2022 6:15:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrainingResourceType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TrainingResourceType] [varchar](50) NULL,
	[TrainingResourceExt] [char](10) NULL,
	[CreatedDate] [date] NULL,
	[CreatedByID] [int] NULL,
	[AuthorizedDate] [date] NULL,
	[AuthorizedByID] [int] NULL,
	[LastUpdatedDate] [date] NULL,
	[LastUpdatedByID] [int] NULL,
 CONSTRAINT [PK_TrainingResourceLookup] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TrainingStatusType]    Script Date: 3/15/2022 6:15:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrainingStatusType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TrainingTypeStatus] [varchar](50) NULL,
 CONSTRAINT [PK_TrainingStatusLookup] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TrainingType]    Script Date: 3/15/2022 6:15:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrainingType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Status] [varchar](50) NULL,
 CONSTRAINT [PK_TrainingTypeLookup] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AssessmentQuestionPool] ON 

INSERT [dbo].[AssessmentQuestionPool] ([Id], [Question], [QuestionType], [SubjectID], [CreatedDate], [CreatedBy], [AuthorizedDate], [AuthorizedBy]) VALUES (1, N'All outsourced services must be well scrutinized and governed by Service Level Agreements (SLAs). This is an example of... ', 1, 3, CAST(N'2022-03-04' AS Date), N'nappiah', CAST(N'2022-03-04' AS Date), N'nappiah')
INSERT [dbo].[AssessmentQuestionPool] ([Id], [Question], [QuestionType], [SubjectID], [CreatedDate], [CreatedBy], [AuthorizedDate], [AuthorizedBy]) VALUES (2, N'Which of the following best describes an example of operational risk? ', 1, 3, CAST(N'2022-03-04' AS Date), N'nappiah', NULL, NULL)
INSERT [dbo].[AssessmentQuestionPool] ([Id], [Question], [QuestionType], [SubjectID], [CreatedDate], [CreatedBy], [AuthorizedDate], [AuthorizedBy]) VALUES (3, N'Which of the following pairs is a component of the risk management process? ', 1, 3, CAST(N'2022-03-04' AS Date), N'nappiah', NULL, NULL)
SET IDENTITY_INSERT [dbo].[AssessmentQuestionPool] OFF
GO
SET IDENTITY_INSERT [dbo].[AssessmentSubject] ON 

INSERT [dbo].[AssessmentSubject] ([Id], [SubjectName]) VALUES (1, N'Customer service')
INSERT [dbo].[AssessmentSubject] ([Id], [SubjectName]) VALUES (2, N'IFRS 9 Compliance')
INSERT [dbo].[AssessmentSubject] ([Id], [SubjectName]) VALUES (3, N'AML')
SET IDENTITY_INSERT [dbo].[AssessmentSubject] OFF
GO
SET IDENTITY_INSERT [dbo].[CertificationAwarder] ON 

INSERT [dbo].[CertificationAwarder] ([Id], [awarder]) VALUES (1, N'National Banking College')
INSERT [dbo].[CertificationAwarder] ([Id], [awarder]) VALUES (2, N'Internal PASL Award')
SET IDENTITY_INSERT [dbo].[CertificationAwarder] OFF
GO
SET IDENTITY_INSERT [dbo].[ObjectiveClass] ON 

INSERT [dbo].[ObjectiveClass] ([Id], [QuestionID], [Cobj1], [Cobj2], [Cobj3], [Cobj4]) VALUES (1, 1, N'A risk control', N'A loss events management', N'A risk identification', N'A risk assessment')
INSERT [dbo].[ObjectiveClass] ([Id], [QuestionID], [Cobj1], [Cobj2], [Cobj3], [Cobj4]) VALUES (2, 2, N'Loss of revenue due to volatility in exchange rates', N'Loss of revenue due to disruption to I.T. systems within the bank''s branches', N'Loss of revenue due to galloping inflation', N'Loss of revenue due to lowering of interest rates by BoG')
INSERT [dbo].[ObjectiveClass] ([Id], [QuestionID], [Cobj1], [Cobj2], [Cobj3], [Cobj4]) VALUES (3, 3, N'Identification and response', N'Dispute resolution and impact assessment', N'Business planning and change management', N'Strategic objectives and business community')
SET IDENTITY_INSERT [dbo].[ObjectiveClass] OFF
GO
SET IDENTITY_INSERT [dbo].[QuestionType] ON 

INSERT [dbo].[QuestionType] ([Id], [QuestionType]) VALUES (1, N'Multiple Choice (MCANS)')
INSERT [dbo].[QuestionType] ([Id], [QuestionType]) VALUES (2, N'Written Questions (WRTANS)')
SET IDENTITY_INSERT [dbo].[QuestionType] OFF
GO
SET IDENTITY_INSERT [dbo].[Training] ON 

INSERT [dbo].[Training] ([Id], [TrainingName], [DateFrom], [DateTo], [TrainingType], [TrainingStatusID], [TrainingGroupID], [TrainingCertificationID], [MarkToPass], [CreatedDate], [CreatedBy], [AuthorizedDate], [AuthorizedBy], [LastUpdatedDate], [LastUpdatedBy]) VALUES (2, N'testTraining', CAST(N'2022-03-16' AS Date), CAST(N'2022-03-30' AS Date), 1, 1, 1, 2, 7, CAST(N'2022-03-09' AS Date), N'nappiah', NULL, NULL, NULL, NULL)
INSERT [dbo].[Training] ([Id], [TrainingName], [DateFrom], [DateTo], [TrainingType], [TrainingStatusID], [TrainingGroupID], [TrainingCertificationID], [MarkToPass], [CreatedDate], [CreatedBy], [AuthorizedDate], [AuthorizedBy], [LastUpdatedDate], [LastUpdatedBy]) VALUES (3, N'Loan Reporting Standards', CAST(N'2022-03-17' AS Date), CAST(N'2022-04-14' AS Date), 1, 1, 2, 2, 8, CAST(N'2022-03-10' AS Date), N'nappiah', NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Training] OFF
GO
SET IDENTITY_INSERT [dbo].[TrainingCertification] ON 

INSERT [dbo].[TrainingCertification] ([Id], [CertificationName], [CertificationAwardedID], [CertifiedYear], [CreatedDate], [CreatedBy]) VALUES (2, N'BAs Training Cert', 1, 2022, CAST(N'2022-01-28' AS Date), N'1')
INSERT [dbo].[TrainingCertification] ([Id], [CertificationName], [CertificationAwardedID], [CertifiedYear], [CreatedDate], [CreatedBy]) VALUES (3, N'testCertification', 2, 2022, CAST(N'2022-03-15' AS Date), N'nappiah')
SET IDENTITY_INSERT [dbo].[TrainingCertification] OFF
GO
SET IDENTITY_INSERT [dbo].[TrainingDomain] ON 

INSERT [dbo].[TrainingDomain] ([Id], [DomainName], [DomainDescription]) VALUES (1, N'Departmental', N'Departmental selection')
INSERT [dbo].[TrainingDomain] ([Id], [DomainName], [DomainDescription]) VALUES (2, N'Employee Grade', N'selection using grade')
INSERT [dbo].[TrainingDomain] ([Id], [DomainName], [DomainDescription]) VALUES (3, N'Job Function', N'selection based on job description')
SET IDENTITY_INSERT [dbo].[TrainingDomain] OFF
GO
SET IDENTITY_INSERT [dbo].[TrainingGrouping] ON 

INSERT [dbo].[TrainingGrouping] ([Id], [GroupName], [GroupDescription], [DomainID], [CreatedDate], [CreatedByID], [AuthorizedDate], [AuthorizedByID], [LastUpdatedByID], [LastUpdatedDate]) VALUES (1, N'BAs', N'All Branch Administrators in PASL', 2, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[TrainingGrouping] ([Id], [GroupName], [GroupDescription], [DomainID], [CreatedDate], [CreatedByID], [AuthorizedDate], [AuthorizedByID], [LastUpdatedByID], [LastUpdatedDate]) VALUES (2, N'Senior Loan Officers (SLOs)', N'A group of Senior Loan Officers', 2, NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[TrainingGrouping] OFF
GO
SET IDENTITY_INSERT [dbo].[TrainingResource] ON 

SET IDENTITY_INSERT [dbo].[TrainingResource] OFF
GO
SET IDENTITY_INSERT [dbo].[TrainingResourceType] ON 

INSERT [dbo].[TrainingResourceType] ([Id], [TrainingResourceType], [TrainingResourceExt], [CreatedDate], [CreatedByID], [AuthorizedDate], [AuthorizedByID], [LastUpdatedDate], [LastUpdatedByID]) VALUES (1, N'Portable Document Format', N'.PDF      ', CAST(N'2022-03-04' AS Date), 1, NULL, NULL, NULL, NULL)
INSERT [dbo].[TrainingResourceType] ([Id], [TrainingResourceType], [TrainingResourceExt], [CreatedDate], [CreatedByID], [AuthorizedDate], [AuthorizedByID], [LastUpdatedDate], [LastUpdatedByID]) VALUES (2, N'Video file', N'.mp4      ', CAST(N'2022-03-04' AS Date), 1, NULL, NULL, NULL, NULL)
INSERT [dbo].[TrainingResourceType] ([Id], [TrainingResourceType], [TrainingResourceExt], [CreatedDate], [CreatedByID], [AuthorizedDate], [AuthorizedByID], [LastUpdatedDate], [LastUpdatedByID]) VALUES (3, N'Audio file', N'.mp3      ', CAST(N'2022-03-04' AS Date), 1, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[TrainingResourceType] OFF
GO
SET IDENTITY_INSERT [dbo].[TrainingStatusType] ON 

INSERT [dbo].[TrainingStatusType] ([Id], [TrainingTypeStatus]) VALUES (1, N'Pending')
INSERT [dbo].[TrainingStatusType] ([Id], [TrainingTypeStatus]) VALUES (2, N'Finished')
INSERT [dbo].[TrainingStatusType] ([Id], [TrainingTypeStatus]) VALUES (3, N'Cancelled')
SET IDENTITY_INSERT [dbo].[TrainingStatusType] OFF
GO
SET IDENTITY_INSERT [dbo].[TrainingType] ON 

INSERT [dbo].[TrainingType] ([Id], [Status]) VALUES (1, N'Internal Training')
INSERT [dbo].[TrainingType] ([Id], [Status]) VALUES (2, N'External Training')
SET IDENTITY_INSERT [dbo].[TrainingType] OFF
GO
ALTER TABLE [dbo].[AssessmentQuestionPool]  WITH CHECK ADD  CONSTRAINT [FK_AssessmentQuestionPool_AssessmentSubject] FOREIGN KEY([SubjectID])
REFERENCES [dbo].[AssessmentSubject] ([Id])
GO
ALTER TABLE [dbo].[AssessmentQuestionPool] CHECK CONSTRAINT [FK_AssessmentQuestionPool_AssessmentSubject]
GO
ALTER TABLE [dbo].[AssessmentQuestionPool]  WITH CHECK ADD  CONSTRAINT [FK_AssessmentQuestions_QuestionTypeLookup] FOREIGN KEY([QuestionType])
REFERENCES [dbo].[QuestionType] ([Id])
GO
ALTER TABLE [dbo].[AssessmentQuestionPool] CHECK CONSTRAINT [FK_AssessmentQuestions_QuestionTypeLookup]
GO
ALTER TABLE [dbo].[QAlloted]  WITH CHECK ADD  CONSTRAINT [FK_QAlloted_QuestionTypeLookup] FOREIGN KEY([QuestionTypeID])
REFERENCES [dbo].[QuestionType] ([Id])
GO
ALTER TABLE [dbo].[QAlloted] CHECK CONSTRAINT [FK_QAlloted_QuestionTypeLookup]
GO
ALTER TABLE [dbo].[QAlloted]  WITH CHECK ADD  CONSTRAINT [FK_QAlloted_TrainingAssessment] FOREIGN KEY([TrainingAssessmentID])
REFERENCES [dbo].[TrainingAssessment] ([Id])
GO
ALTER TABLE [dbo].[QAlloted] CHECK CONSTRAINT [FK_QAlloted_TrainingAssessment]
GO
ALTER TABLE [dbo].[Training]  WITH CHECK ADD  CONSTRAINT [FK_Training_TrainingCertification] FOREIGN KEY([TrainingCertificationID])
REFERENCES [dbo].[TrainingCertification] ([Id])
GO
ALTER TABLE [dbo].[Training] CHECK CONSTRAINT [FK_Training_TrainingCertification]
GO
ALTER TABLE [dbo].[Training]  WITH CHECK ADD  CONSTRAINT [FK_Training_TrainingGrouping] FOREIGN KEY([TrainingGroupID])
REFERENCES [dbo].[TrainingGrouping] ([Id])
GO
ALTER TABLE [dbo].[Training] CHECK CONSTRAINT [FK_Training_TrainingGrouping]
GO
ALTER TABLE [dbo].[Training]  WITH CHECK ADD  CONSTRAINT [FK_Training_TrainingStatusType] FOREIGN KEY([TrainingStatusID])
REFERENCES [dbo].[TrainingStatusType] ([Id])
GO
ALTER TABLE [dbo].[Training] CHECK CONSTRAINT [FK_Training_TrainingStatusType]
GO
ALTER TABLE [dbo].[Training]  WITH CHECK ADD  CONSTRAINT [FK_Training_TrainingTypeLookup] FOREIGN KEY([TrainingType])
REFERENCES [dbo].[TrainingType] ([Id])
GO
ALTER TABLE [dbo].[Training] CHECK CONSTRAINT [FK_Training_TrainingTypeLookup]
GO
ALTER TABLE [dbo].[TrainingAssessment]  WITH CHECK ADD  CONSTRAINT [FK_TrainingAssessment_Training] FOREIGN KEY([TrainingID])
REFERENCES [dbo].[Training] ([Id])
GO
ALTER TABLE [dbo].[TrainingAssessment] CHECK CONSTRAINT [FK_TrainingAssessment_Training]
GO
ALTER TABLE [dbo].[TrainingCertification]  WITH CHECK ADD  CONSTRAINT [FK_TrainingCertification_CertificationAwarder] FOREIGN KEY([CertificationAwardedID])
REFERENCES [dbo].[CertificationAwarder] ([Id])
GO
ALTER TABLE [dbo].[TrainingCertification] CHECK CONSTRAINT [FK_TrainingCertification_CertificationAwarder]
GO
ALTER TABLE [dbo].[TrainingGrouping]  WITH CHECK ADD  CONSTRAINT [FK_TrainingGrouping_TrainingDomain] FOREIGN KEY([DomainID])
REFERENCES [dbo].[TrainingDomain] ([Id])
GO
ALTER TABLE [dbo].[TrainingGrouping] CHECK CONSTRAINT [FK_TrainingGrouping_TrainingDomain]
GO
ALTER TABLE [dbo].[TrainingResource]  WITH CHECK ADD  CONSTRAINT [FK_TrainingResource_Training] FOREIGN KEY([TrainingID])
REFERENCES [dbo].[Training] ([Id])
GO
ALTER TABLE [dbo].[TrainingResource] CHECK CONSTRAINT [FK_TrainingResource_Training]
GO
ALTER TABLE [dbo].[TrainingResource]  WITH CHECK ADD  CONSTRAINT [FK_TrainingResource_TrainingResourceLookup] FOREIGN KEY([TrainingResourceID])
REFERENCES [dbo].[TrainingResourceType] ([Id])
GO
ALTER TABLE [dbo].[TrainingResource] CHECK CONSTRAINT [FK_TrainingResource_TrainingResourceLookup]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'primary key of the table entity' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'AssessmentQuestionPool', @level2type=N'COLUMN',@level2name=N'Id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'a question for the assessment' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'AssessmentQuestionPool', @level2type=N'COLUMN',@level2name=N'Question'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'question type lookup. foreign key to the dbo.QuestionTypeLookup table' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'AssessmentQuestionPool', @level2type=N'COLUMN',@level2name=N'QuestionType'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'foreign key to Training Assessment' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'AssessmentQuestionPool', @level2type=N'COLUMN',@level2name=N'SubjectID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'the Id for the table entity' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'AssignedTraining', @level2type=N'COLUMN',@level2name=N'AssignedTrainingID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'the ID of the scheduled training' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'AssignedTraining', @level2type=N'COLUMN',@level2name=N'TrainingID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'the one doing the assignment' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'AssignedTraining', @level2type=N'COLUMN',@level2name=N'AssignedBy'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'the assigned date' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'AssignedTraining', @level2type=N'COLUMN',@level2name=N'AssignedDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'the one doing the approval of the training' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'AssignedTraining', @level2type=N'COLUMN',@level2name=N'ApprovedBy'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'the date of approval' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'AssignedTraining', @level2type=N'COLUMN',@level2name=N'ApprovedDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'the Id of the awarder' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CertificationAwarder', @level2type=N'COLUMN',@level2name=N'Id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'the name of the awarder' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CertificationAwarder', @level2type=N'COLUMN',@level2name=N'awarder'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'primary key' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'QAlloted', @level2type=N'COLUMN',@level2name=N'Id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Id of the training programme' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'QAlloted', @level2type=N'COLUMN',@level2name=N'TrainingID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'the particular assessment under the training programme' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'QAlloted', @level2type=N'COLUMN',@level2name=N'TrainingAssessmentID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'the type of questions. foreign key to the dbo.QuestionTypeLookup table entity' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'QAlloted', @level2type=N'COLUMN',@level2name=N'QuestionTypeID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'the number of questions alloted' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'QAlloted', @level2type=N'COLUMN',@level2name=N'Alloted'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'primary key' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'QuestionType', @level2type=N'COLUMN',@level2name=N'Id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'the type of question. (MCANS = Multiple choice questions, WRTANS = written)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'QuestionType', @level2type=N'COLUMN',@level2name=N'QuestionType'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'primary key of the table' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'StaffQuestionAssessment', @level2type=N'COLUMN',@level2name=N'Id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'the ID of the question' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'StaffQuestionAssessment', @level2type=N'COLUMN',@level2name=N'QuestionID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'the marks awarded' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'StaffQuestionAssessment', @level2type=N'COLUMN',@level2name=N'MarksAwarded'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'the ID of the training' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'StaffQuestionAssessment', @level2type=N'COLUMN',@level2name=N'TrainingID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'primary key' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Training', @level2type=N'COLUMN',@level2name=N'Id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'the name of the training' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Training', @level2type=N'COLUMN',@level2name=N'TrainingName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'effective training date' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Training', @level2type=N'COLUMN',@level2name=N'DateFrom'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'effective training end date' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Training', @level2type=N'COLUMN',@level2name=N'DateTo'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'foreign key to dbo.TrainingType' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Training', @level2type=N'COLUMN',@level2name=N'TrainingType'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'the status of the training programme. foreign key to dbo.TrainingStatusLookup' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Training', @level2type=N'COLUMN',@level2name=N'TrainingStatusID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'the group of staff/human resource for which the training was designed' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Training', @level2type=N'COLUMN',@level2name=N'TrainingGroupID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'certification to be rewarded after training. foreign key to dbo.TrainingCertification' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Training', @level2type=N'COLUMN',@level2name=N'TrainingCertificationID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Pass mark for the training. Training may consists of several assessments. In that case, it is the sum of all the marks gotten from each assessment' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Training', @level2type=N'COLUMN',@level2name=N'MarkToPass'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'the date the training was created' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Training', @level2type=N'COLUMN',@level2name=N'CreatedDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'the name of the inputter creating the training' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Training', @level2type=N'COLUMN',@level2name=N'CreatedBy'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'the name of the authorizer approving the training' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Training', @level2type=N'COLUMN',@level2name=N'AuthorizedDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'the Id of the training programme' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TrainingAssessment', @level2type=N'COLUMN',@level2name=N'TrainingID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'the name of the assessment programme' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TrainingAssessment', @level2type=N'COLUMN',@level2name=N'AssessmentName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'the marks alloted for the assessment. This mark MAY be a part, or ALL the marks for the training. If training consist of one assessment, alloted_assessment_marks = dbo.Training.mark_to_pass' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TrainingAssessment', @level2type=N'COLUMN',@level2name=N'AllotedAssessmentMarks'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'the pass mark for the assessment' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TrainingAssessment', @level2type=N'COLUMN',@level2name=N'PassAssessmentMark'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'in case the training comprises more than ONE assessment, this is the mark derived for this assessment in respect of the overall training' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TrainingAssessment', @level2type=N'COLUMN',@level2name=N'AllotedProratedMark'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'the date the assessment was created' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TrainingAssessment', @level2type=N'COLUMN',@level2name=N'CreatedDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'the user creating the assessment' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TrainingAssessment', @level2type=N'COLUMN',@level2name=N'CreatedByID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'the name of the certification' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TrainingCertification', @level2type=N'COLUMN',@level2name=N'CertificationName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'the Id of the institution AWARDING the certificate' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TrainingCertification', @level2type=N'COLUMN',@level2name=N'CertificationAwardedID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'year of certification' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TrainingCertification', @level2type=N'COLUMN',@level2name=N'CertifiedYear'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'the name of the domain' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TrainingDomain', @level2type=N'COLUMN',@level2name=N'DomainName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'the description of the domain' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TrainingDomain', @level2type=N'COLUMN',@level2name=N'DomainDescription'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'primary key' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TrainingGrouping', @level2type=N'COLUMN',@level2name=N'Id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'name of group' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TrainingGrouping', @level2type=N'COLUMN',@level2name=N'GroupName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'description of the group' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TrainingGrouping', @level2type=N'COLUMN',@level2name=N'GroupDescription'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'the date group was created' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TrainingGrouping', @level2type=N'COLUMN',@level2name=N'CreatedDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'the user creating the group' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TrainingGrouping', @level2type=N'COLUMN',@level2name=N'CreatedByID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Id of the training being referenced' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TrainingResource', @level2type=N'COLUMN',@level2name=N'TrainingID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'the name of the resource material ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TrainingResource', @level2type=N'COLUMN',@level2name=N'ResourceName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'the foreign key depicting the type of resource it is. (could be a PDF material, audio or video)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TrainingResource', @level2type=N'COLUMN',@level2name=N'TrainingResourceID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'flag determining if the resource is embedded in the database or not' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TrainingResource', @level2type=N'COLUMN',@level2name=N'IsEmbedded'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'the path to the resource if not embedded' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TrainingResource', @level2type=N'COLUMN',@level2name=N'ResourcePath'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'holds the resource if it happens to be embedded' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TrainingResource', @level2type=N'COLUMN',@level2name=N'EmbeddedResource'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'primary key to the trainingResource table entity' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TrainingResourceType', @level2type=N'COLUMN',@level2name=N'Id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'the type of resource (audio/mp3, video/mp4, text or document/pdf)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TrainingResourceType', @level2type=N'COLUMN',@level2name=N'TrainingResourceType'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'the extension of the training resource to watch before taking tests' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TrainingResourceType', @level2type=N'COLUMN',@level2name=N'TrainingResourceExt'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'the date the resource type was created' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TrainingResourceType', @level2type=N'COLUMN',@level2name=N'CreatedDate'
GO
USE [master]
GO
